<div class="container" ng-controller="customerCtrl">
  <div class="row">   
    <h3 ng-if="page=='new'">New Customer</h3> 
    <h3 ng-if="page=='view'">Customer Details</h3>
    <h3 ng-if="page=='edit'">Edit Customer</h3>
<!--     <a ng-if="accessor=='tenant' && page=='view'" class="pull-right" href="/#/tenant/{{tenant_id}}/customer/edit/{{customer._id}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button></a> -->
    <a ng-if="accessor=='admin' && page=='view'" class="pull-right" href="/#/customer/edit/{{customer._id}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
    <div class="form-group" ng-show="accessor==='admin' && (page==='new' || page==='edit') " class="col-md-4">
      <label class="text-danger">Please note that the fields marked with asterisk (*) are mandatory .</label>
    </div>
    <div class="row" style="margin-top:30px;">
      <form class="form-horizontal" name="customer_create" novalidate>
        <div class="col-md-6">
          <!-- Text input-->
          <div class="form-group" ng-if="accessor==='tenant'">
            <label class="col-md-4 control-label">Tenant</label>
            <div class="col-md-6" ng-show="page==='view'">
              <label for="">{{customer.tenantRef.name}}</label>
            </div>
          </div>
          
          <div class="form-group" ng-if="accessor==='admin'">
            <label class="col-md-4 control-label">Tenant<span ng-show="customer.tenantRef === 'null'|| customer.tenantRef._id === 'null'" class="help-inline" style="color:red"> *</span></label>
            <div ng-show="page==='new'" class="col-md-6"> 
              <select class="form-control" ng-model="customer.tenantRef" style="width:200px;" ng-init="customer.tenantRef='null'">
                <option value="null">Select tenant</option>                                  
                <option ng-repeat="tenant in tenantList" value="{{tenant._id}}">{{tenant.name}}</option>
              </select>
            </div>
            <div class="col-md-6" ng-show="page==='view' || page==='edit'">
              <label for="">{{customer.tenantRef.name}}</label>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Customer Group
            <span ng-if="customer.customerGroup === 'null' || customer.customerGroup._id === 'null'" class="help-inline" style="color:red">*</span></label>  
            <div class="col-md-6" ng-show="page=='new'">
              <select name="customerGroup" class="form-control" ng-model="customer.customerGroup" ng-init="customer.customerGroup ='null'" style="width:200px;">
                <option value="null">Select customer group</option>
                <option ng-repeat="group in cus_gp_dtls" value="{{group._id}}">{{group.groupName}}</option>            
              </select>              
            </div>

            <div class="col-md-6" ng-show="page==='view'|| page==='edit'">
              <label for="">{{customer.customerGroup.groupName}}</label>
            </div> 
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">DunsNo</label>  
            <div class="col-md-6">
            <input ng-readonly="page=='view'" name="dunsNo" type="text" class="form-control input-md" ng-model="customer.dunsNo" maxlength="9"  style="width:100px;">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Customer Name<span ng-show="customer_create.customerName.$error.required" class="help-inline" style="color:red"> *</span></label>  
            <div class="col-md-6">
              <input ng-pattern="/^[a-zA-Z0-9_-\s]+$/" ng-readonly="page=='view'" name="customerName" type="text" class="form-control input-md numeric" ng-model="customer.customerName" ng-minlength = "2" maxlength = "30" required>  
              <span ng-show="customer_create.customerName.$error.pattern" class="help-inline" style="color:red">*invalid customer name</span>
              <span ng-show="customer_create.customerName.$error.minlength" class="help-inline" style="color:red">*too short</span>
             
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">External Account Code</label>  
            <div class="col-md-6">
              <input name="extAccnt" type="text" ng-readonly="page=='view'" class="form-control input-md" ng-model="customer.abstractBusinessPartner.extAccountCode" style="width:300px;">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">External Name</label>  
            <div class="col-md-6">
              <input name="extName" type="text" ng-readonly="page=='view'" class="form-control input-md" ng-model="customer.abstractBusinessPartner.extName" ng-pattern="/^[a-zA-Z0-9_-\s]+$/" maxlength="30" ng-minlength="2">
              <span ng-show="customer_create.extName.$error.pattern" class="help-inline" style="color:red">*invalid external name</span>
              <span ng-show="customer_create.extName.$error.minlength" class="help-inline" style="color:red">*too short </span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">External Short Name</label>  
            <div class="col-md-6">
              <input ng-readonly="page=='view'" name="extShortName" type="text" class="form-control input-md" ng-model="customer.abstractBusinessPartner.extShortName" ng-pattern="/^[a-zA-Z0-9_-\s]+$/" nmaxlength="30" ng-minlength="2" style="width:300px;">
              <span ng-show="customer_create.extShortName.$error.pattern" class="help-inline" style="color:red">*invalid external short name</span>
            <span ng-show="customer_create.extShortName.$error.minlength" class="help-inline" style="color:red">*too short</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">External Global Id</label>  
            <div class="col-md-6">
              <input ng-readonly="page=='view'" name="extGlobalId" type="text" class="form-control input-md" ng-model="customer.abstractBusinessPartner.extGlobalId" ng-pattern="/^[a-zA-Z0-9\s]+$/" maxlength="40" ng-minlength="2" style="width:300px;">
              <span ng-show="customer_create.extGlobalId.$error.pattern" class="help-inline" style="color:red">*invalid external global id</span> 
              <span ng-show="customer_create.extGlobalId.$error.minlength" class="help-inline" style="color:red">*too short</span>
            </div>
          </div>
          
          
          <div class="form-group">
            <label class="col-md-4 control-label">Hierarchy Code</label>  
            <div class="col-md-6">
              <input ng-readonly="page=='view'" name="hierarchyCode" type="text" placeholder="" class="form-control input-md" ng-model="customer.hierarchyCode" maxlength="50" style="width:250px;">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Language</label>  
            <div class="col-md-6">
               <select class="form-control" ng-readonly="page=='view'" ng-model="customer.abstractBusinessPartner.language" style="width:300px;">
                  <option value="">Select language</option>                                  
                  <option ng-repeat="lang in language" value="{{lang.name}}">{{lang.name}}</option>
                </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Currency</label>  
            <div class="col-md-6">
              <input ng-readonly="page=='view'" name="currency" type="text" class="form-control input-md" ng-model="customer.abstractBusinessPartner.currency" maxlength="20" style="width:200px;">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Logo</label>  
            <div class="col-md-6">
              <input type="file" ng-show="page=='edit' || page=='new'" ng-file-select="onFileSelect($files)" >
                <img ng-if="imageSrc" style="width:50%;margin-top:15px;" ng-src="{{imageSrc}}" />
                <img ng-if="!imageSrc && page=='view'" style="width:50%;height:200px;" ng-src="img/Not_available_icon.jpg" />
            </div>
          </div>
        </div>
        <div class="col-md-6">      
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Eutax Id</label>  
              <div class="col-md-6">
                <input ng-readonly="page=='view'" name="eutaxId" type="text" class="form-control input-md" ng-model="customer.eutaxId" maxlength="30">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Is Customer Group Master</label>  
              <div class="col-md-6" ng-show="page=='new' || page=='edit'">
                <input type="radio" name="isCustomerGrpMaster" ng-model="customer.isCustomerGrpMaster" ng-value='true' ng-init="customer.isCustomerGrpMaster=true">True &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="customer.isCustomerGrpMaster" name="isCustomerGrpMaster" ng-value='false'>False
              </div>
              <div class="col-md-6" ng-if="page==='view'">
                <label>{{customer.isCustomerGrpMaster}}</label>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label">with VAT</label>  
              <div class="col-md-6" ng-if="page=='new' || page=='edit'">
                <input type="radio" ng-model="customer.withVAT" ng-value='true' name="withVAT" ng-init="customer.withVAT=false">True &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="customer.withVAT" ng-value='false' name="withVAT">False
              </div>
              <div class="col-md-6" ng-if="page=='view'">
                <label>{{customer.withVAT}}</label>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group" ng-show="customer.withVAT">
              <label class="col-md-4 control-label">Vat ID No</label>  
              <div class="col-md-6">
                <input ng-readonly="page=='view'" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="customer.vatIdentNo">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Debit Limit</label>  
              <div class="col-md-6">
              <input ng-readonly="page=='view'" name="debitLimit" type="text" placeholder="" class="form-control input-md" ng-model="customer.debitLimit" ng-pattern="/^[0-9]*$/" style="width:150px">
              <span ng-show="customer_create.debitLimit.$error.pattern" class="help-inline" style="color:red">*invalid debi limit</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Tax Amount</label>  
              <div class="col-md-6">
                <input ng-readonly="page=='view'" name="tax" type="text" placeholder="" class="form-control input-md" ng-model="customer.tax" ng-pattern="/^[0-9]*$/" style="width:150px" maxlength="9">
                <span ng-show="customer_create.tax.$error.pattern" class="help-inline" style="color:red">*invalid tax amount</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Is Locked</label>  
              <div class="col-md-6" ng-if="page=='new' || page=='edit'">
                <input type="radio" ng-model="customer.isLocked" ng-value="true" name="isLocked" ng-init="customer.isLocked='true'">True &nbsp;&nbsp;&nbsp;&nbsp;
               <input type="radio" ng-model="customer.isLocked" name="isLocked" ng-value="false">False
              </div>
              <div class="col-md-6" ng-if="page=='view'">
                <label for="">{{customer.isLocked}}</label>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Inv. Tolerance Percent</label>  
              <div class="col-md-6">
                <div class="input-group" style="width: 100px;">
                  <input ng-readonly="page=='view'" name="invTolerancePercent" type="text"placeholder="" class="form-control input-md" ng-model="customer.invTolerancePercent" ng-pattern="/^(100(?:\.00)?|0(?:\.\d\d)?|\d?\d(?:\.\d\d)?)$/" style="width:70px;"><span class="input-group-addon">%</span>
                </div>
                <span ng-show="customer_create.invTolerancePercent.$error.pattern" class="help-inline" style="color:red">*invalid inv. tolerance percent</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Inv. Tolerance Absolute</label>  
              <div class="col-md-6">
               <div class="input-group" style="width: 100px;">
                <input ng-readonly="page=='view'" name="invToleranceAbs" type="text" placeholder="" class="form-control input-md" ng-model="customer.invToleranceAbs" ng-pattern="/^(100(?:\.00)?|0(?:\.\d\d)?|\d?\d(?:\.\d\d)?)$/" style="width:70px;"><span class="input-group-addon">%</span>
                </div>
                <span ng-show="customer_create.invToleranceAbs.$error.pattern" class="help-inline" style="color:red">*Invalid inv. tolerance absolute</span>
              </div>
            </div>
            <h2>Descriptions</h2>
            <div class="form-group">
              <label class="col-md-4 control-label">Information</label>  
              <div class="col-md-6">
                <textarea name="information" type="text" class="form-control" ng-model="customer.information" maxlength="50" ng-readonly="page=='view'" style="width:370px;">
                </textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Header Text</label>  
              <div class="col-md-6">
                <textarea name="headerText" type="text" cols="40" rows="5" maxlength="200" class="form-control" ng-model="customer.headerText" ng-readonly="page=='view'" style="height:75px;width:370px;"></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Footer Text</label>  
              <div class="col-md-6">
                <textarea name="footerText" type="text" cols="40" rows="5" class="form-control" ng-model="customer.footerText" ng-readonly="page=='view'" maxlength="200" style="height:75px;width:370px;"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Customer Profile</label>  
              <div class="col-md-6">
                <textarea name="customerProfile" type="text" cols="40" rows="5" class="form-control" ng-model="customer.customerProfile" ng-readonly="page=='view'" maxlength="200" style="height:75px;width:370px;"></textarea>
              </div>
            </div>
        </div>
        <section class="row">
        <div class="col-md-12">  
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><b>Contacts</b></h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                <li class="list-group-item" ng-show="contacts.length==0">0 contacts added</li>
                <li class="list-group-item" ng-repeat="contact in contacts">{{contact.firstName}} {{contact.lastName}}
                  <button  ng-if="page!='view'" type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" ng-click="edit_contact(contact)" style="position: relative;bottom: 6px;">Edit
                  </button>
                  <button  ng-if="page!='view'" type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" ng-click="delete_contact($index)" style="position: relative;bottom: 6px;margin-right:4px;">Delete
                  </button>
                  <button  ng-if="page=='view'" type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" ng-click="edit_contact(contact)" style="position: relative;bottom: 6px;">View
                  </button>
                </li>
                </ul>
                <!-- Button trigger modal -->
                <button  ng-if="page!='view'" class="btn btn-primary" data-toggle="modal" ng-click="new_contact()">
                + Add Contact
                </button>
              </div>
            </div>
            <!-- Contact Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 ng-hide="edit_flg" class="modal-title" id="myModalLabel">New Contact</h4>
                  <h4 ng-show="page=='view'" class="modal-title" id="myModalLabel">Details</h4>
                  <h4 ng-show="edit_flg && page==='edit'" class="modal-title" id="myModalLabel">Edit Contact</h4>
                </div>
                <div class="modal-body" style="overflow: auto;">
                  <div class="col-md-6">
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Contact Type</label>  
                      <div class="col-md-8">
                        <select class="form-control" ng-model="newContact.contactType" ng-readonly="page==='view'" style="width:200px;">
                            <option value="">Select Contact Type</option>
                            <option value="type1">Contact Type1</option>
                            <option value="type2">Contact Type2</option>
                            <option value="type3">Contact Type3</option>
                          </select>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">First Name
                        <span ng-show="newContact.firstName === undefined || newContact.firstName ===''" class="help-inline" style="color:red"> *</span>
                      </label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="firstName" type="text" class="form-control input-md" ng-model="newContact.firstName" maxlength="20" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                        <span ng-show="customer_create.firstName.$error.pattern" class="help-inline" style="color:red">*invalid first name</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Last Name
                        <span ng-show="newContact.lastName === undefined || newContact.lastName === ''" class="help-inline" style="color:red"> *</span>
                      </label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="lastName" type="text" class="form-control input-md" ng-model="newContact.lastName" maxlength="20" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                        <span ng-show="customer_create.lastName.$error.pattern" class="help-inline" style="color:red">*invalid last name</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Department</label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="department" type="text" class="form-control input-md" ng-model="newContact.department" maxlength="20">
                      </div>
                    </div>
                  </div> <!-- end of left column in contact form -->
                  <div class="col-md-6">
                  <!-- Text area-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Description</label>  
                      <div class="col-md-8">
                        <textarea ng-readonly="page=='view'" name="description" type="text" class="form-control input-md" ng-model="newContact.description" maxlength="240" ng-pattern="/^[a-zA-Z\s]+$/"></textarea>
                        <span ng-show="customer_create.description.$error.pattern" class="help-inline" style="color:red">*invalid description</span>
                      </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Email
                        <span ng-show="newContact.email === undefined || newContact.email === ''" class="help-inline" style="color:red"> *</span>
                      </label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="email" type="text" class="form-control input-md" ng-model="newContact.email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" style="width:px;">
                        <span ng-show="customer_create.email.$error.pattern" class="help-inline" style="color:red">*Invalid email</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Phone</label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="phone" type="text" class="form-control input-md" ng-model="newContact.phone" style="width:200px;" ng-pattern="/^[\0-9() -+]{3,50}$/">
                        <span ng-show="customer_create.phone.$error.pattern" class="help-inline" style="color:red">*Invalid phone number</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Alternate Phone</label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="alternatePhone" type="text" class="form-control input-md" ng-model="newContact.alternatePhone" style="width:200px;" ng-pattern="/^[\0-9() -+]{3,50}$/">
                        <span ng-show="customer_create.alternatePhone.$error.pattern" class="help-inline" style="color:red">*Invalid phone number</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">Mobile</label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="mobile" type="text" class="form-control input-md" ng-model="newContact.mobile" ng-pattern="/^\+?[0-9]+$/" style="width:200px;">
                        <span ng-show="customer_create.mobile.$error.pattern" class="help-inline" style="color:red">*Invalid mobile number</span>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">URL</label>  
                      <div class="col-md-8">
                        <input ng-readonly="page=='view'" name="url" type="text" class="form-control input-md" ng-model="newContact.url" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
                        <span ng-show="customer_create.url.$error.pattern" class="help-inline" style="color:red">*Invalid url</span>
                      </div>
                    </div>
                  </div> <!-- end of right column in contact form -->
                </div>
                <div class="modal-footer">
                   <button ng-if="page==='edit' || page==='new'" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addContact(newContact)">Add</button>
                  <button ng-if="page==='edit' || page==='new'" type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                   <button ng-if="page==='view'" type="button" class="btn btn-default" data-dismiss="modal" >Ok</button>
                </div>
              </div>
            </div>
            </div>
            <!-- contact modal end -->    
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><b>Addresses</b></h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item" ng-show="addresses.length==0">0  addresses added</li>
                  <li class="list-group-item" ng-repeat="addr in addresses">{{addr.salutation}}{{addr.name1}}-{{addr.phoneNo}}
                    <button ng-if="page==='new' || page==='edit'" class="btn btn-primary pull-right btn-sm" type="button" class="btn btn-primary pull-right" data-toggle="modal" ng-click="edit_address(addr)" style="position: relative;bottom: 6px;">Edit</button>
                    <button  ng-if="page!='view'" type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" ng-click="delete_address($index)" style="position: relative;bottom: 6px;margin-right:4px;">Delete
                    </button>
                    <button  ng-if="page=='view'" type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" ng-click="edit_address(addr)" style="position: relative;bottom: 6px;">View
                    </button>
                  </li>
                </ul>
                <!-- Button trigger modal -->
                <button  ng-if="page!='view'" class="btn btn-primary" data-toggle="modal" ng-click="new_address()" >
                + Add Address
                </button>     
              </div>
            </div>  
          </div>      
          <!-- Modal -->
          <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 ng-hide="edit_flg" class="modal-title" id="myModalLabel">New Address</h4>
                  <h4 ng-show="page=='view'" class="mo dal-title" id="myModalLabel">Details</h4>
                  <h4 ng-show="edit_flg && page==='edit'" class="modal-title" id="myModalLabel">Edit Address</h4>
                </div>
              <div class="modal-body">
                <div class="container" style="max-width: 100% !important">
                  <div class="row">
                    <div class="col-md-6">
                      <h2>Address details</h2>
                      
                      <div class="form-group">
                        <label class="col-md-4 control-label">Name 1
                          <span ng-show="newAddr.name1 === undefined || newAddr.name1 === ''" class="help-inline" style="color:red"> *</span>
                        </label>  
                        <div class="col-md-8">
                           <input ng-model="newAddr.name1" name="name1" type="text" class="form-control input-md" maxlength="20" ng-readonly="page==='view'" style="width:200px;" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                           <span ng-show="customer_create.name1.$error.pattern" class="help-inline" style="color:red"> *invalid name 1</span>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-md-4 control-label">Name 2</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.name2" name="name2" type="text" maxlength="20" class="form-control input-md"  ng-readonly="page==='view'" style="width:200px;" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                           <span ng-show="customer_create.name2.$error.pattern" class="help-inline" style="color:red"> *invalid name 2</span>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-md-4 control-label">Name 3</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.name3" name="name3" type="text" maxlength="20" class="form-control input-md" ng-readonly="page==='view'" style="width:200px;" ng-pattern="/^[a-zA-Z0-9\s]+$/">
                          <span ng-show="customer_create.name3.$error.pattern" class="help-inline" style="color:red"> *invalid name 3</span>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Address Type</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.addressType" name="addresstype" type="text" class="form-control input-md" style="width:200px;" ng-readonly="page==='view'">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 control-label">Street</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.street" name="street" type="text" class="form-control input-md" maxlength="20" ng-readonly="page==='view'">
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">City
                          <span ng-show="newAddr.city === undefined || newAddr.city === ''" class="help-inline" style="color:red"> *</span>
                        </label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.city" name="city" type="text" placeholder="" class="form-control input-md" style="width:200px;" maxlength="20" ng-readonly="page==='view'">
                        </div>
                      </div>
                      
                       <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Zip Code</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.zipCode" name="zipCode" type="text" maxlength="10" class="form-control input-md" style="width:200px;" ng-readonly="page==='view'" ng-pattern="/^[a-zA-Z0-9]+$/">
                          <span ng-show="customer_create.zipCode.$error.pattern" class="help-inline" style="color:red">*Invalid zipcode</span>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">State</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.state" name="state" type="text" class="form-control input-md" maxlength="20" style="width:220px;" ng-readonly="page==='view'">
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Country
                          <span ng-show="newAddr.country === undefined || newAddr.country === ''" class="help-inline" style="color:red"> *</span>
                        </label>  
                        <div class="col-md-8">
                          <select class="form-control" ng-readonly="page=='view'" ng-model="newAddr.country" style="width:200px;">
                            <option value="">Select country</option>                                  
                            <option ng-repeat="count in country" value="{{count.name}}">{{count.name}}</option>
                          </select>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">PO Box</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.pobox" name="pobox" type="text" class="form-control input-md" style="width:200px;" maxlength="20" ng-readonly="page==='view'"  ng-pattern="/^[a-zA-Z0-9]+$/">
                          <span ng-show="customer_create.pobox.$error.pattern" class="help-inline" style="color:red">*Invalid pobox</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-md-4 control-label">PO Box Zip Code</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.poboxZipCode" name="poboxZipCode" type="text" placeholder="" class="form-control input-md" style="width:200px;" nmaxlength="20" ng-readonly="page==='view'" ng-pattern="/^[a-zA-Z0-9]+$/">
                          <span ng-show="customer_create.poboxZipCode.$error.pattern" class="help-inline" style="color:red">*Invalid pobox zip code</span>
                          
                        </div>
                      </div>                        
                    </div>
                    <div class="col-md-6">
                      <h2>Personal Info</h2>
                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Phone No.</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.phoneNo" name="phoneNo" type="text" placeholder="" class="form-control input-md" style="width:200px;" ng-readonly="page==='view'" ng-pattern="/^[\0-9() -+]{3,50}$/">
                          <span ng-show="customer_create.phoneNo.$error.pattern" class="help-inline" style="color:red">*Invalid phone number</span>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Fax No.</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.faxNo" name="faxNo" type="text" placeholder="" class="form-control input-md" ng-pattern="/^[\0-9() -+]{3,50}$/" style="width:200px;" ng-readonly="page==='view'">
                          <span ng-show="customer_create.faxNo.$error.pattern" class="help-inline" style="color:red">*Invalid Fax number</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-md-4 control-label">Email</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.email" name="email_add" type="text" class="form-control input-md" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" style="width:px;" ng-readonly="page==='view'">
                          <span ng-show="customer_create.email_add.$error.pattern" class="help-inline" style="color:red">*Invalid e-mail</span>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Corporate URL</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.corporateURL" name="corporateurl" type="text" placeholder="" class="form-control input-md" style="width:px;" ng-readonly="page==='view'" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
                          <span ng-show="customer_create.corporateurl.$error.pattern" class="help-inline" style="color:red">*Invalid corporate URL</span>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">Is Company</label>  
                        <div class="col-md-8" ng-show="page=='new' || page=='edit'">
                          <input type="radio" ng-model="newAddr.isCompany" ng-value="true" name="isCompany" ng-init="newAddr.isCompany='true'">True &nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="radio" ng-model="newAddr.isCompany" name="isCompany" ng-value="false">False
                        </div>
                        <div class="col-md-8" ng-if="page==='view'">
                          <label for="">{{newAddr.isCompany}}</label>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label">No. Of Employees</label>  
                        <div class="col-md-8">
                          <input ng-model="newAddr.numOfEmployees" name="numOfEmployees" type="text" class="form-control input-md" ng-pattern="/^[0-9]*$/" style="width:150px;" ng-readonly="page==='view'">
                          <span ng-show="customer_create.numOfEmployees.$error.pattern" class="help-inline" style="color:red">*Invalid no. of employees</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button ng-if="page==='edit' || page==='new'" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="page==='view'" ng-click="addAddress(newAddr)">Add</button>
                  <button ng-if="page==='edit' || page==='new'" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button ng-if="page==='view'" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
              </div>
            </div>
          
        </div>  
          <!-- modal end -->
        </section>
        <br><br>
        <div>
          <div ng-show="page==='new'" class="col-md-2 col-md-offset-3">
            <button ng-click="SubmitCustomer(customer,contacts,addresses)" class="btn btn-primary btn-block">Submit</button>
          </div>
          <div ng-show="page==='new'" class="col-md-2">
            <button ng-click="cancel_new()" class="btn btn-primary btn-block">Reset</button>
          </div>
          <div ng-show="page==='new' && accessor==='tenant'" class="col-md-2">
            <button ng-click="back_new()" class="btn btn-primary btn-block">Cancel</button>
          </div> 
          <div ng-show="page==='new' && accessor==='admin'" class="col-md-2">
            <a href="/#/customers" class="btn btn-primary btn-block">Cancel</a>
          </div> 
          <!-- edit page -->  
          <div ng-show="page==='edit'" class="col-md-2 col-md-offset-4">
            <button ng-click="editTenantCustomer(customer,contacts,addresses)" class="btn btn-primary btn-block">Update</button>
          </div>
          <div ng-show="page==='edit' && accessor==='tenant'" class="col-md-2 col-md-offset-4">
            <a href="/#/tenant/{{tenant_id}}/customer/{{customer._id}}" class="btn btn-primary btn-block">Cancel</a>
          </div>
          <div ng-show="page==='edit' && accessor==='admin'" class="col-md-2">
            <a href="/#/customer/{{customer._id}}" class="btn btn-primary btn-block">Cancel</a>
          </div>
      
          <!-- view page -->
<!--           <div ng-show="page==='view' && accessor==='tenant'" class="col-md-2 col-md-offset-4">
            <a href="/#/tenant/{{tenant_id}}/customer/edit/{{customer._id}}" class="btn btn-primary btn-block">Edit</a>
          </div> -->
          <div ng-show="page==='view' && accessor==='tenant'" class="col-md-2 col-md-offset-5">
            <a href="/#/tenant/{{tenant_id}}" class="btn btn-primary btn-block">Back</a>
          </div>
          <div ng-show="page==='view' && accessor==='admin'" class="col-md-2 col-md-offset-4">
             <a href="/#/customer/edit/{{customer._id}}" class="btn btn-primary btn-block"> Edit</a>
          </div>
          <div ng-show="page==='view' && accessor==='admin'" class="col-md-2">
            <a href="/#/customers" class="btn btn-primary btn-block">Cancel</a>
          </div>
        </div>
      </form>  
    </div>
  </div>  
</div>
<footer>
  <br><br>
</footer>
 <script type="text/ng-template" id="myModalContent.html">
   <div class="modal-body">
       <p>Please enter valid datas</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Ok</button>
  </div>
  </script>
<script>
$(document).ready(function(){
   $(".numeric").numeric();
});
  </script>